---
layout: default
title: Home
---

<div class="home">
<h1 style="text-align:center; margin-bottom:50px"><a href="/when-the-morning-comes/I-Dont-Want-To-Talk-about-It.html">2014 New single: I Don't Want To Talk about It</a></h1>
<a title="Under the Surface" href="/under-the-surface/"><img src="/images/covers/thumbnail/under-the-surface.jpg" alt="Under the Surface" width="25%" /></a>
<a title="The Chase" href="/the-chase/"><img src="/images/covers/thumbnail/the-chase.jpg" alt="The Chase" width="25%" /></a>
<a title="Spark" href="/spark/"><img src="/images/covers/thumbnail/spark.jpg" alt="Spark" width="25%" /></a>
<a title="When The Morning Comes" href="/when-the-morning-comes/"><img src="/images/covers/thumbnail/when-the-morning-comes.jpg" alt="Spark" width="25%" /></a>
<!--   <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      {{ post.excerpt }}
      <div class="continue">
        <a href="{{ post.url | prepend: site.baseurl }}">&bull;&bull;&bull;</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">prv</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">prv</a>
      {% endif %}
    {% else %}
      <span class="page-link">prv</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">nxt</a>
    {% else %}
      <span class="page-link">nxt</span>
    {% endif %}
  </div> -->

</div>
