<div class="header">
    <h1>
        <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <p class="sub">
        {{ site.description }}
    </p>

    <div class="menu">
        <ul class="navlist">
        <li><a title="Home" href="/"><img src="/images/home.png" width="14px"></a>
            {% for link in site.links %}</li>
            <li>
                &bull;<a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <hr />
    </div>
</div>


